@model Realtor
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Local Independent Realtor</h1>
    <p>Find your dream home today!</p>
</div>