@{
    ViewBag.Title = "Admin Property (Add or Edit)";
}

<!--
    FORM FIELDS
    PropertyTitle = "Cottage Bungalow",
    PropertyDescription = "3 bedroom, 2 bath cottage styled bungalow",
    PropertyAddress = "1234 Olive St.",
    PropertyCity = "Anytown",
    PropertyState = "IA",
    PropertyZip = "50266",
    PropertyStatus = "for sale",
    imageUrl = "images/1234olive.jpg",
    PropertyPrice = 215000.00,
    RealtorId = 1, hidden automatic
-->
<div class="bg-danger text-white text-center p-1">
    <h1 class="m-2 p-3">Admin Add/Edit New Property</h1>
</div>
<div>
    <form asp-controller="Home" asp-action="Add" method="post">
    </form>
</div>
